<div class="posts">
  <small class="post-title"><%= link_to post.title, user_post_path(@user, post) %></small>
  <p class="post-text">
    <%= truncate(post.text, length: 100, omission: '...' ) %>
  </p>
  <div class="comment-like">
    <small><%= link_to "Comments: #{post.comments_counter}", user_post_path(@user, post) %></small>
    <small class="likes"><%= link_to "Likes: #{post.likes_counter}", like_user_post_path(@user, post), method: :post %></small>
  </div>
</div>
