<%= render partial: "user", locals: {person: @user} %>
<%posts = @user.recent_posts%>
<div class="bio">Bio <br>  <p> <%= @user.bio%></p></div>

<% posts.each do |post| %>
  <%= render partial: "posts", locals: {post: post} %>
<% end %>

<button class="see-posts"> <%= link_to 'See all posts', user_posts_path(@user) %></button>
